* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)),
    url(../HOME/images/backgroud25.png) no-repeat top center;
  line-height: 1.15;
  /* 下面代码让背景图铺满 */
  background-size: 100% 100vh;
  background-attachment: fixed;
}

/* header {
  background-color: #dcd8a5;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
} */

header {
  background: linear-gradient(to bottom, #F0ECB6 0%, #dcd8a5 75%, transparent 100%);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}


h1 {
  font-family: 'Noto Serif SC', serif;
  font-weight: 700;
  /* 使用粗体 */
  color: #000;
  /* 深灰色文字 */
  text-align: center;
  font-size: 2.5em;
}

.bold {
  font-weight: 700;
}

/* 按钮 */
.button-container {
  position: absolute;
  right: 1rem;
}

.jump-button {
  padding: 10px;
  margin-left: .5rem;
  font-size: 16px;
  background-color: #f7b37c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  text-decoration: none;
  width: 100px;
}

.jump-button:hover {
  background-color: #f79c52;
}

.jump-button:first-child {
  background-color: #F5DD90;
}

.jump-button:first-child:hover {
  background-color: #f2cf5b;
}

.home-btn {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #fff;
  border-radius: 5px;
}

main {
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 44px);
  perspective: 1000px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  transform-style: preserve-3d;
}

.card {
  width: 300px;
  height: 350px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  transform: rotateY(30deg);
  transform-origin: center;
}

.card img {
  width: 100%;
  height: calc(350px - 60px);
  object-fit: cover;
  display: block;
}

.card h2 {
  padding: 5px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: auto;
}

.card:hover {
  transform: rotateY(0deg);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}