* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

@font-face {
  font-family: electronicFont;
  src: url(../font/DS-DIGIT.TTF);
}

body {
  position: relative;
  background: linear-gradient(rgba(165, 163, 163, 0.553),
      rgba(165, 163, 163, 0.553)),
    url(../images/backgroud4.png) no-repeat top center;
  background-size: 100% 120vh;
  background-blend-mode: overlay;
  line-height: 0;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(106, 104, 104, 0.204);
  z-index: -1;
}

html {
  font-size: 16px;
}

.mainbox {
  display: flex;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  height: 300px;
  padding: 0.125rem 0.125rem 0;
  position: relative;
  top: 5px;
}

.mainbox .column {
  flex: 3;
}

.mainbox .column:nth-child(2) {
  flex: 5;
  margin: 0 0.8rem 0.1875rem;
}

.mainbox .panel {
  position: relative;
  width: 25rem;
  height: 15rem;
  padding: auto;
  border: 1px solid #479ff13a;
  margin-bottom: 0.0075rem;
  background: url("../images/line(1).png") rgba(128, 214, 215, 0.2);
}

.mainbox .panel::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-left: 3px solid #126fefa8;
  border-top: 3px solid #126fefa8;
  content: "";
}

.mainbox .panel::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-right: 3px solid #126fefa8;
  border-top: 3px solid #126fefa8;
  content: "";
}

.mainbox .panel .panel-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.mainbox .panel .panel-footer::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-left: 3px solid #126fefa8;
  border-bottom: 3px solid #126fefa8;
  content: "";
}

.mainbox .panel .panel-footer::after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-right: 3px solid #126fefa8;
  border-bottom: 3px solid #126fefa8;
  content: "";
}

.mainbox .panel h2 {
  height: 20px;
  color: #fff;
  line-height: 48px;
  text-align: center;
  font-size: 0.85rem;
  font-weight: 500;
}

.mainbox .panel .chart {
  height: 8.675rem;
  width: 90%;
  margin: 0 auto;
}

.no {
  background: rgba(140, 155, 201, 0.1);
  padding: 0.1875rem;
  width: 100%;
  height: 1px;
}

.no .no-hd {
  position: relative;
  border: 1px solid #19ba8b;
  width: 100%;
  height: 60px;
}

.no .no-hd::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 30px;
  height: 10px;
  border-top: 3px solid #126fefa8;
  border-left: 3px solid #126fefa8;
}

.no .no-hd::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  width: 30px;
  height: 10px;
  border-bottom: 3px solid #126fefa8;
  border-right: 3px solid #126fefa8;
}

.no .no-hd ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.no .no-hd ul li {
  padding-top: 10px;
  position: relative;
  flex: 1;
  line-height: 2.5rem;
  font-size: 1.75rem;
  color: #ffeb7b;
  font-family: "electronicFont";
  text-align: center;
}

.no .no-hd ul li::after {
  content: "";
  position: absolute;
  top: 25%;
  right: 0;
  height: 100%;
  width: 1px;
  background: rgba(255, 255, 255, 0.2);
}

.no .no-bd u1 {
  display: flex;
}

.no .no-bd u1 li {
  flex: 1;
  text-align: center;
  color: #ffeb7b;
  font-size: 1.225rem;
  height: 0.5rem;
  line-height: 0.5rem;
  padding-top: 0.925rem;
}

.map {
  position: relative;
  height: 10.125rem;
}

.map .map1 {
  width: 20.475rem;
  height: 20.475rem;
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../images/map.png);
  background-size: 100% 100%;
  background-position: center 100%;
  opacity: 0.3;
}

.map .map2 {
  width: 25.475rem;
  height: 25.475rem;
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../images/lbx.png);
  background-size: 100% 100%;
  background-position: center 100%;
  animation: rotate1 15s linear infinite;
  opacity: 0.5;
}

.map .map3 {
  width: 21.975rem;
  height: 21.975rem;
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../images/jt.png);
  background-size: 100% 100%;
  background-position: center 100%;
  animation: rotate2 10s linear infinite;
  opacity: 0.5;
}

.map .chart {
  position: absolute;
  top: 120px;
  left: -1.3333rem;
  width: 110%;
  height: 550px;
}

@keyframes rotate1 {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotate2 {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

#pieChartContainer {
  position: relative;
}

.slider-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 8%;
  transform: translateY(-50%);
  display: flex;
}

.slider-controls #slider {
  width: 64%;
}

.slider-controls button {
  display: block;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 0;
  background-color: transparent;
  color: #333;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
}

.slider-controls button:hover {
  background-color: #e0e0e0;
}

/* 添加按钮样式 */
#rightButton {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: rgba(111, 108, 108, 0.544);
  /* 浅灰色背景并添加透明度 */
  color: rgba(211, 211, 211);
  border: none;
  width: 40px;
  /* 设置宽度和高度相同 */
  height: 40px;
  border-radius: 50%;
  /* 设置圆角为 50% 实现圆形 */
  cursor: pointer;
  font-size: 24px;
  /* 设置字体大小 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  /* 添加 z-index 属性，使其显示在上方 */
}

/* 鼠标悬浮时的样式 */
#rightButton:hover {
  color: white;
  background-color: rgba(69, 66, 66, 0.872);
  /* 修改悬浮时的背景颜色 */
}

/* 添加按钮样式 */
#leftButton {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  background-color: rgba(111, 108, 108, 0.544);
  /* 浅灰色背景并添加透明度 */
  color: rgba(211, 211, 211);
  border: none;
  width: 40px;
  /* 设置宽度和高度相同 */
  height: 40px;
  border-radius: 50%;
  /* 设置圆角为 50% 实现圆形 */
  cursor: pointer;
  font-size: 24px;
  /* 设置字体大小 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  /* 添加 z-index 属性，使其显示在上方 */
}

/* 鼠标悬浮时的样式 */
#leftButton:hover {
  color: white;
  background-color: rgba(69, 66, 66, 0.872);
  /* 修改悬浮时的背景颜色 */
}